/* 1 */
:root {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  /* 2 */
  body {
    background-color: #709b90;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* 3 */
  body * + * {
    margin-top: 1.5em;
  }
  /*4*/
  .container {
    max-width: 1080px;
    margin: 0 auto;
  }